@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #000000;
    user-select: none;
}

html, body {
    height: 100%;
}

#artwork {
    display: block;
    position: absolute;
    background: url("/media/lost_soul.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1024px;
    max-height: 1024px;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 0;
}

#fog {
    position: absolute;
    background: url("/media/fog.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation-name: fog-movement;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#floating-block {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 16px;
    width: 100%;
    z-index: 2;
}

#abs-block {
    display: block;
    margin: 24px;
    position: absolute;
    z-index: 3;
}

a {
    color: #9c9c9c;
    line-height: 2em;
    text-decoration: none;
    /* border-bottom: 1px solid #9c9c9c; */
    transition: 0.2s linear color;
}

a:hover {
    color: #6b6b6b;
    /* border-bottom: 1px solid #6b6b6b; */
    transition: 200ms;
}

li {
    color: #9c9c9c;
}

#copyright {
    margin-top: 8px;
}

#floating-block a {
    white-space: nowrap;
    font-size: 22px;
    padding: 8px;
}

.var1 {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
    letter-spacing: 0.2em;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
}

@keyframes fog-movement {
    0% {
        background-position-x: 0px
    }

    100% {
        background-position-x: 1024px;
    }
}


@media screen and (max-width: 960px) {
    .var1 {
        font-size: 10px;
    }

    #floating-block a {
        font-size: 16px;
        padding: 8px;
    }
}
